.all{
    font-size:18px;
    font-family:Arial;
    width:495px;
    text-align:center;
    zoom:950px;
}

body{
    background-color:rgba(119, 119, 119, 0);
    
}    
#header{
    background-color:#ebebeb;
      
}
#nav{
    background-color:#ebebeb;

}
#section{
    background-color:#ebebeb;
}
#aside{
    float:right;
    padding:30px;
    background-color:#ebebeb;
    width:200px;
    height:200px;

}
#footer{
    background-color:#ebebeb;
}