.all{
    font-size:18px;
    font-family:Arial;
    width:495px;
    background-color:#777;
    color:"#ebebeb";
    text-align:center;
    body:950px;
}

#body{
    
}    
#header{
    
    
}
#nav{

}
#section{

}
#aside{
    float:right;
    padding:30px;

}
#footer{

}