.all{
    font-size:18px;
    font-family:Arial;
    width:495px;
    text-align:center;
    zoom:950px;
}

body{
    background-color:#777;
}    
#header{
    background-color:#ebebeb;
    height:75px;
    width:1000px;
    padding:20px;
    margin:20px;
    opacity:50%;
}
      
#nav {
    background-color:#ebebeb;
    height:75px;
    width:1000px;
    padding:20px;
    margin:20px;
    }

#section{
    background-color:#ebebeb;
    float:left;
    width:400px;
    height:100px;
    text-align:center;
    padding:20px;
    margin:20px;
}    

#aside{
    background-color:#ebebeb;
    float:right;
    width:400px;
    height:100px;
    text-align:center;
    padding:20px;
    margin:20px;
}

#article{
    background-color:#ebebeb;
    float:left;
    width:200px;
    height:100px;
    text-align:center;
    padding:20px;
    margin:20px;
}

#footer{
    background-color:#ebebeb;
    height:30px;
    width:1000px;
    padding:20px;
    margin:20px;
    position:fixed;
    bottom:0;
}

#section{
    background-color:#ebebeb;
    height:200px;
    width:500px;
    padding:20px;
    margin:20px;

}